<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Admin module TestCase">
		<classes>
			<class name="testrunner.AdminRunner"></class>
		</classes>
	</test>	
	<test name="Employee module TestCase">
		<classes>
			<class name="testrunner.employeeRunner"></class>
		</classes>
	</test>
	<test name="customer module TestCase">
		<classes>
			<class name="testrunner.customerRunner"></class>
		</classes>
	</test>	
  
</suite> <!-- Suite -->
